<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moneybook.mapper.IncomeMapper">

	<select id="getCategory" resultType="categoryVO">
		select * from category
	</select>

<!-- 수익 작성 -->
	<insert id="insertIncome" parameterType="incomeVO">
		insert into income
		(
			regdate, item, revenue, cate_cd, mno, pay_code
		) 
		values
		(#{regdate}, #{item}, #{revenue}, #{cate_cd}, #{mno}, #{pay_code})
	</insert>

<!-- 수익 레코드 삭제 -->
	<delete id="multiDeleteIncome">
	delete from income 
	where inc_no in
	<foreach collection="list" item="delDTO" open="(" close=")" separator=",">
	#{delDTO.number}
	</foreach>
	
	</delete>

<!-- 가계부 수정 -->
	<update id="updateIncome" parameterType="incomeVO">
	UPDATE income 
	SET 
		regdate = #{regdate},
		item = #{item},
		revenue = #{revenue},
		cate_cd = #{cate_cd}
	WHERE
		inc_no = #{inc_no}
	</update>

<!-- 수익 레코드 조회 -->
	<select id="selectIncome" resultType="incomeVO" parameterType="int" >
	SELECT inc_no, mno, regdate, revenue
	FROM income
	WHERE inc_no = #{inc_no}
	</select>
</mapper>