<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moneybook.mapper.OutlayMapper">

	
<!-- 비용 입력[현금] -->
	<insert id="insertOutlay" parameterType="outlayVO">
		insert into outlay
		 (
			regdate, item, cost, cate_cd, mno, pay_code
	   	 ) 
		values
		 (#{regdate}, #{item}, #{cost}, #{cate_cd}, #{mno}, #{pay_code})
	</insert>

<!-- 레코드 삭제 -->
	<delete id="multiDeleteOutlay">
	delete from outlay 
	WHERE out_no in
	<foreach collection="list" item="delDTO" open="(" close=")" separator=",">
	#{delDTO.number}
	</foreach>
	
	</delete>
	
	
	
	
	

</mapper>