<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.moneybook.mapper.StatisticsMapper">

	<!-- 입력된 통계정보가 없을때 -->
	<insert id="insertIcStat" parameterType="statisticsVO">
	insert into statistics
		(mno, year, month, inc_amount)
	values
		(#{mno}, #{year}, #{month}, #{inc_amount})	
	</insert>

<!-- 통계 업데이트 [현금]-->
	<update id="updateIcStat" parameterType="statisticsVO">
	UPDATE statistics
	SET
		inc_amount = inc_amount + #{inc_amount}
	WHERE 
		mno = #{mno} AND year = #{year} AND month = #{month}
	</update>
	
	<!-- 통계입력[카드] -->
	<insert id="insertCardStat" parameterType="statisticsVO">
	insert into statistics
		(mno, year, month, out_amount, card_amount)
	values
		(#{mno}, #{year}, #{month}, #{out_amount}, #{card_amount})	
	</insert>

<!-- 통계입력[현금] -->	
	<insert id="insertOutStat" parameterType="statisticsVO">
	insert into statistics
		(mno, year, month, out_amount)
	values
		(#{mno}, #{year}, #{month}, #{out_amount})	
	</insert>

<!-- 통계수정[현금] OR 카드 -->
<!-- 입력되엇을때 -->
	<update id="updateOutStat" parameterType="statisticsVO">
	UPDATE statistics
	<set>
		out_amount = out_amount + #{out_amount}
		<if test="card_amount != '0'">,card_amount = card_amount + #{card_amount}</if>
	</set>
	WHERE	
		mno = #{mno} AND year = #{year} AND month = #{month}
	</update>

<!-- 수익내역이 삭제됫을때 -->
<!-- 수익통계 수정 -->
	<update id="subtractIncStat">
	UPDATE statistics 
	SET
	 	inc_amount = inc_amount - #{money}
	WHERE
		mno = #{mno} AND year = #{year} AND month = #{month} 	
	</update>

<!-- 지출통계 수정 -->
	<update id="subtractOutStat">
	UPDATE statistics 
	<set>
	 	out_amount = out_amount - #{money}
		<if test="pay_code == '1'">,card_amount = card_amount - #{money}</if>
	</set>
	WHERE
		mno = #{mno} AND year = #{year} AND month = #{month} 	
	</update>

</mapper>